#mcedit /etc/systemd/system/ssh-logger.service
[Unit]
Description=SSH login logger to file
After=sshd.service

[Service]
Type=simple
ExecStart=/bin/bash -c 'journalctl -u sshd -f -o cat | tee -a /var/log/ssh.log'
Restart=always
User=root

[Install]
WantedBy=multi-user.target